<h3>ユーザー詳細</h3>
<p>名前 : <%= @user.name %></p>
<% if @user == current_user %>
  <p>Eメール : <%= @user.email %></p>
<% end %>
<p>投稿数 : <%= @user.cinemas.count %></p>
<% if @user != current_user %>
  <%= render 'follow_form', user: @user %>
<% end %>
<% if @user == current_user %>
  <p><%= link_to 'プロフィールを編集', edit_user_path(@user.id), class: "btn btn-warning" %></p>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td> <%= cinema.title %></td>
        <td> <%= link_to '詳細', cinema_path(cinema.id), class: "btn btn-outline-primary" %></td>
        <td> <%= link_to '編集', edit_cinema_path(cinema.id), class: "btn btn-outline-success" %></td>
        <td> <%= link_to '削除', cinema_path(cinema.id), method: :delete,
          data: { confirm: '本当に削除していいですか？' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
