<h3>映画編集</h3>
<%= form_with(model: @cinema, local: true, url: cinema_path ) do |form| %>
  <% if @cinema.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cinema.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @cinema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, value: @cinema.title %>
  </div>
  <div class="field">
    <%= form.label :url %><br>
    <%= form.text_field :url, value: @cinema.url %><br>
  </div>

  <%= form.submit "編集する", class: "btn btn-warning" %>
<% end %>
