<h3>映画一覧</h3>
<%= link_to '映画投稿', new_cinema_path, class: "btn btn-primary" %>
<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトルに" %>
  <%= f.search_field :title_cont %><span>が含まれる映画を</span>
  <%= f.submit "検索" %>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>投稿者</th>
  </tr>
  <% @cinemas.each do |cinema| %>
    <tr>
      <td> <%= cinema.title %></td>
      <td> <%= link_to "#{cinema.user.name}", user_path(cinema.user.id) %></td>
      <td> <%= link_to '詳細', cinema_path(cinema.id) %></td>
      <td> <%= link_to '編集', edit_cinema_path(cinema.id) %></td>
      <td> <%= link_to '削除', cinema_path(cinema.id), method: :delete,
          data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>
