<!DOCTYPE html>
<html>
  <head>
    <title>CinemaSuggestion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <h1>Cinema Suggestion</h1>
    <nav class="navbar">
      <% if user_signed_in? %>
        <%= link_to "映画一覧", cinemas_path, id: "header_cinema_index" %>
        <%= link_to "おすすめ", suggestion_cinemas_path, id: "header_cinema_suggestion" %>
        <%= link_to "マイページ", user_path(current_user.id), id: "header_mypage" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, id: "header_Logout" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </nav>
    <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
